.container{
display: flex;
flex-direction: column;
align-items: center;
}
.box{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}