*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    box-sizing: border-box;
    font-size: 22px;
    /* width: 100vw; */
    width: 100vw;
    border: solid black 4px;
    margin : 0;
    padding: 0;

}