*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: "Roboto", "Arial", sans-serif;
}
.container{
   background-color:rgba(0,0,0,.9);
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 2px 2px 5px;
}
.thumb{
     position: relative;
}
.duration
{
    position: absolute;
    bottom: 10px;
    right:5px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    opacity: .7;
}
.container img{
    border-radius: 5px;
}
.title {
  /* font-size: 16px; */
  margin: 5px 0 20px;
  font-weight: 600;
  line-height: 1.3;
}
.views{
    margin: 5px
}
.channel{
    margin: 5px;
}
.time{
    margin : 5px
}

.container:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0,.8);
}
