:root{
    
    --navc:rgb(146, 234, 157);
    --content:rgb(124, 219, 254);
}
*{
    margin: 0;
    padding: 0;;
}
.navbar{
   display: flex;
   border: 2px solid black;
   margin : 20px;
   border-radius: 10px;
   background-color: var(--navc);
   overflow: auto;
   justify-content: space-between;
   
}
.list{
    display: flex;
    list-style-type: none;
    margin: 5px;
}
ul li{
    margin: 5px;
    border: 2px solid black;
    padding: 3px;
    border-radius: 5px;
    background-color: var(--content);

}
